<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title>Culinary Chronicles</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- jQuery and Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>
    <body>
        <!-- As a heading -->
         <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('index') }}">Culinary Chronicles</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link disabled" aria-current="page" href="{{ url_for('index') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="{{ url_for('recipe_list') }}" tabindex="-1" aria-disabled="true">Meals</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('upload') }}" tabindex="-1" aria-disabled="false">Add a Recipe</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{{ url_for('contact_us') }}" tabindex="-1" aria-disabled="true">Contact Us</a>
                 </li>
                </ul>
              </div>
            </div>
          </nav>

        <!--Add a new recipe form-->
        <div class="container mt-5">
            <h1>Add a Recipe</h1>
            <p>Uploading recipes is very easy! Add your family recipes, your favorites, and share with family, friends, or the community!</p>
            <hr>
            <form method="POST" action="{{ request.path }}" enctype="multipart/form-data">
                <label for="title"><b>Recipe Title:</b></label><br>
                <input type="text" id="title" name="title" placeholder="Enter your title here" required><br><br>
                <label for="summary"><b>Description:</b></label><br>
                <textarea rows="4" class="form-control" id="summary" name="summary" placeholder="Include a short description about your recipe! Share the story behind it or explain what makes it special." ></textarea><br>
                <hr>

                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="category"><b>Category:</b></label><br>
                            <select class="btn btn-secondary dropdown-toggle" id="category" name="category" required>
                                <option value="">Select a Category</option>
                                {% for category in categories %}
                                <option class="dropdown-item" value="{{ category }}">{{ category }}</option>
                                {% endfor %}
                            </select><br><br>
                        </div>

                        <div class="col-md-5">
                            <label for="servings"><b>Serving(s):</b></label><br>
                            <input type="number" id="servings" name="serving_amount" min="1" max="50" style="width: 100px;" placeholder="1~50 serv." required><br><br>
                        </div>



                        <div class="col-md-3">
                            <label for="prepTime"><b>Prep Time:</b></label><br>
                            <input type="number" id="prepTime" name="prepTime" min="1" max="200" style="width: 100px;" placeholder="e.g. 5 min" required><br><br>
                        </div>

                        <div class="col-md-3">
                            <label for="cookTime"><b>Cook Time:</b></label><br>
                            <input type="number" id="cookTime" name="cookTime" min="1" max="200" style="width: 100px;" placeholder="e.g. 7 min" required>
                            <br><br>
                         </div>

                        <div class="col-md-3">
                            <label for="totalTime"><b>Total Time:</b></label><br>
                            <input type="number" id="totalTime" name="totalTime" min="1" max="200" style="width: 100px;" placeholder="e.g. 12 min" required><br><br>
                        </div>
                        </div>
                </div>


                <hr>

                <label for="ingredients"><b>Ingredients:</b></label><br>
                    <p class="text-muted">Enter one ingredients per line and include the quantity (i.e. quarts, cups, teaspoons, etc...). Include any special preparation (i.e. chopped, sifted, etc...). You can include any brand names you use.</p>
                    <textarea rows="4" class="form-control" id="ingredients" name="ingredients" placeholder="e.g. 1 cup of sugar..." required></textarea>
                <br>
                <label for="directions"><b>Directions:</b></label><br>
                    <p class="text-muted">Enter one step per line. Explain how to make your recipe, including backing or cooking, oven temperatures, pan sizes, etc...</p>
                    <textarea rows="4" class="form-control" id="directions" name="directions" placeholder="e.g. Preheat oven to 350 degrees..." required></textarea><br>
                <hr>
                <input class="btn btn-primary btn-sm" type="submit" value="Submit">
                <a href="{{ url_for('upload') }}">
                <input class="btn btn-danger btn-sm" type="button" value="Cancel" onclick="return confirm('Are you sure you want to cancel?')">
                </a><br><br>
            </form>
        </div>
    </body>
</html>
