<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Culinary Chronicles</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
    <body>
        <!-- As a heading -->
         <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('index') }}">Culinary Chronicles</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link disabled" aria-current="page" href="{{ url_for('index') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="{{ url_for('recipe_list') }}" tabindex="-1" aria-disabled="true">Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('upload') }}" tabindex="-1" aria-disabled="false">Add a Recipe</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{{ url_for('contact_us') }}" tabindex="-1" aria-disabled="true">Contact Us</a>
                 </li>
                </ul>
              </div>
            </div>
          </nav>

        <!--Add a new recipe form-->
        <div class="container mt-5">
            <h1>Add a New Recipe</h1>
            <form method="POST" action="{{ request.path }}" enctype="multipart/form-data">

                <label for="title">Recipe Title:</label><br>
                    <input type="text" id="title" name="title" placeholder="Enter your title here" required><br><br>

                <label for="servings">Serving(s):</label><br>
                    <input type="number" id="servings" name="serving_amount" min="1" max="50" required><br><br>

                <label for="category">Category:</label><br>
                    <select id="category" name="category" required>
                        <option value="">Select a Category</option>
                        {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select><br><br>

                <label for="ingredients">Ingredients:</label><br>
                    <textarea rows="4" class="form-control" id="ingredients" name="ingredients" required></textarea>

                <label for="directions">Directions:</label><br>
                    <textarea rows="4" class="form-control" id="directions" name="directions" required></textarea><br>

                <label for="photo_filename">Upload a Picture:</label><br>
                <input type="file" id="photo_filename" name="photo_filename" accept="image/*"><br><br>



                <input class="btn btn-primary btn-sm" type="submit" value="Submit">

                <a href="{{ url_for('upload') }}">
                <input class="btn btn-danger btn-sm" type="button" value="Cancel" onclick="return confirm('Are you sure you want to cancel?')">
                </a><br><br>
            </form>
        </div>
    </body>
</html>
