<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Culinary Chronicles</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!--- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>
<body>

     <!-- As a heading -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('index') }}">Culinary Chronicles</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link disabled" aria-current="page" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="{{ url_for('category') }}" tabindex="-1" aria-disabled="true">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('upload') }}" tabindex="-1" aria-disabled="false">Add a Recipe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="{{ url_for('contact') }}" tabindex="-1" aria-disabled="true">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container mt-5">
        <form method="POST" action="{{ request.path }}">
            <label for="email">ID Number</label><br>
            <input type="number" name="id" placeholder="ID Number"/><br>
            <label for="title">Recipe Title</label><br>
            <input type="text" name="title" placeholder="Recipe Title"/><br>
            <label for="email">Servings</label><br>
            <input type="number" name="servings" placeholder="Servings"/><br>
            <label for="email">Ingredients</label><br>
            <input type="text" name="ingredients" placeholder="Ingredients"/><br>
            <label for="email">Directions</label><br>
            <input type="text" name="directions" placeholder="Directions"/><br>
            <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>


