<!DOCTYPE html>
  <html lang="en">
      <head>
      <meta charset="UTF-8">
      <title>Culinary Chronicles</title>
      <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
      <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

       <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <!-- jQuery and Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      </head>
      <body>
        <!-- As a heading -->
         <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('index') }}">Culinary Chronicles</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link disabled" aria-current="page" href="{{ url_for('index') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="{{ url_for('recipe_list') }}" tabindex="-1" aria-disabled="true">Meals</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="{{ url_for('upload') }}" tabindex="-1" aria-disabled="true">Add a Recipe</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('contact_us') }}" tabindex="-1" aria-disabled="false">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <h2>Reach out to us!</h2>
            <p>We love hearing from our users! If you have any questions,
              feedback, or just want to say hello, please don't hesitate
              to contact us. Whether you're a home cook looking to share
              your favorite recipes or a foodie looking for inspiration,
              our team is here to help.
              <br>
              You can reach us via email or
              contact form. We're always happy to hear from our community
              and look forward to connecting with you. So please feel free
              to get in touch with us and let us know how we can make your
              experience on our recipe sharing website even better.</p>
            <h3>Our Team:</h3>
            <ul>
              <li>Giselle Cabrejos: <br><a href="gcabrejo@uncc.edu">gcabrejo@uncc.edu</a></li>
              <li>Helen Cardoso: <br><a href="hcardoso@uncc.edu">hcardoso@uncc.edu</a></li>
              <li>Ben Domeier: <br><a href="bdomeier@uncc.edu">bdomeier@uncc.edu</a></li>
              <li>Andrea Martinez: <br><a href="amart247@uncc.edu">amart247@uncc.edu</a></li>
              <li>Tyahna Tate: <br><a href="ttate17@uncc.edu">ttate17@uncc.edu</a></li>
            </ul>
          </div>
          <div class="col-md-6 mt-5">
            <h3>Contact Us:</h3>
            <form method="post">
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="form-group">
                <label for="concern">Your Message:</label>
                <textarea class="form-control" id="concern" name="concern" rows="3" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </body>
</html>
