<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Culinary Chronicles</title>
    
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!--- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>
<body>

     <!-- As a heading -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('index') }}">Culinary Chronicles</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="{{ url_for('category') }}" tabindex="-1" aria-disabled="true">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="{{ url_for('upload') }}" tabindex="-1" aria-disabled="true">Add a Recipe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="{{ url_for('contact') }}" tabindex="-1" aria-disabled="true">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <div class="container mt-5">
        <h1>Share, Explore & Enjoy the true taste</h1>
        <p>Welcome to our recipe sharing website! Our platform is a community-driven space for food lovers to share their favorite recipes, cooking tips, and culinary experiences with others. Our mission is to inspire and connect people through the joy of cooking and sharing food.
          <br></br>
          Our website is designed to be user-friendly, with a simple and intuitive interface 
          that allows users to easily browse and search for recipes based on their preferences and 
          dietary needs. Whether you're looking for a quick and easy weeknight dinner, a fancy meal to 
          impress your guests, or a healthy and nutritious snack, you'll find a wide range of recipes 
          to choose from on our site.
          <br></br>
          We believe that cooking should be accessible to everyone, regardless of their skill level or 
          background. That's why our community is open to everyone, from seasoned chefs to beginners 
          just starting out in the kitchen. We encourage our users to share their own unique perspectives 
          and approaches to cooking, and to learn from each other in a supportive and welcoming environment.
          We hope you'll join us in this culinary journey and share your own delicious creations with our community!
        </p>
        
        <p>
          <div class="col text-center">
          <a href="{{ url_for('category') }}" class="btn btn-primary ">Start Exploring!</a>
        </div>
        </p>
      </div>


      </body>
      </html>
    